{% extends 'blog/base.html' %}

{% block content %}
    <h1>Search for:</h1>
    <form method="POST" class="post-form">{% csrf_token %}
		  <select name="search_option">
		  		<option value="blog_user">User</option>
		  		<option value="user_message">Message</option>
		  </select>
		  <input type="text" name="username">
		  <br>
        <button type="submit" class="save btn btn-default">Search</button>
    </form>
		{%if usernames%}
		{% for usernames in usernames %}
			<div class="post">
				<p>username: {{ usernames.username }}</p>
				{%if usernames != request.user%}		
						<a href="{% url 'blog.views.users_chat' pk=usernames.pk%}">Talk</a>	
				{% endif %}
			</div>
		{% endfor %}
		{% endif %}
		{%if damoa_message%}
		{% for damoa_message in damoa_message %}
			<div class="post">
				<p>Message: {{ damoa_message.text }}</p>
				<p>From: {{ damoa_message.sender }}</p>
				<a href="{% url 'blog.views.users_chat' pk=damoa_message.receiver.pk%}">Talk</a>
			</div>
		{% endfor %}
		{% endif %}
{% if found_flag == 0 %}
<p>Not Found! </p>
{% endif %}
{% endblock %}
