{% extends 'blog/base.html' %}

{% block content %}
    <h1>Users chat</h1>
		{%if sender_messages%}
		{% for damoa in sender_messages %}
		<p>{{damoa.sender}} </p>
		<p><h2>{{damoa.text}}</h2> </p>
		<p>{{damoa.created_date}} </p>
		{% endfor %}
		{% endif %}
		<div class="well">
			<h4>Leave a Comment:</h4>
			<form method="POST" role="form" class="post-form">{% csrf_token %}
				<div class="form-group">
					<textarea class="form-control" rows="3" name = "message"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

{% endblock %}
